<!-- link arrow-->
<a href="#" class="link-arrow">Learn More</a>

<!-- badges -->
<span class="badge badge--primary">10% off</span>
<span class="badge badge--secondary">10% 0ff</span>
<span class="badge badge--primary badge--small">10% off</span>

<!-- list with tick -->
<ul class="list list--tick">
  <li class="list__item">Item 1</li>
  <li class="list__item">Item 2</li>
  <li class="list__item">Item 3</li>
</ul>

<!-- icon -->
<span class="icon-container">
  <svg class="icon icon--primary">
    <use xlink:href="images/sprite.svg#wordpress"></use>
  </svg>
</span>

<!-- button -->
<button class="button button--primary button--block"></button>

<!-- input -->
<input type="text" class="input" placeholder="Enter domain name here..." />

<!-- input group with icon and button -->
<div class="input-group">
  <span class="icon-container">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#wordpress"></use>
    </svg>
  </span>
  <input type="text" class="input" placeholder="Enter domain name here..." />
  <button class="button button--accent">Search</button>
</div>

<!-- Cards -->
<div>
  <div class="card card--secondary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio esse sequi
      nisi est in? Nostrum totam dignissimos id perferendis alias facere.
    </div>
  </div>
</div>

<!-- Full Plans -->
<div style="width: 50%; padding: 4rem">
  <div class="plan plan--popular">
    <div class="card card--secondary">
      <header class="card__header">
        <h3 class="plan__name">Premium Plan</h3>
        <span class="plan__price">$14</span>
        <span class="plan__billing-cycle">month</span>
        <span class="badge badge--secondary badge--small">10% off</span>
        <span class="plan__description">Easy start on the cloud</span>
      </header>
      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__item">Unlimited Websites</li>
          <li class="list__item">Unlimited Bandwidth</li>
          <li class="list__item">100 GB SSD Storage</li>
          <li class="list__item">3 GB RAM</li>
        </ul>
        <button class="button button--secondary button--block">Buy Now</button>
      </div>
    </div>
  </div>
</div>

<!-- Media query? -->
<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="Images/sprite.svg#menu"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi facere
      numquam doloribus ratione laudantium quaerat vero. Vitae ab dicta
      praesentium, quos culpa iste, cupiditate voluptatum quas quisquam, minima
      laboriosam! Fugiat.
    </p>
  </div>
</div>

<!-- Quotes -->
<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis ipsa
    voluptas, ea totam soluta optio incidunt odio qui explicabo esse, laboriosam
    vero fugiat quos officia, at eveniet sunt? Cupiditate, harum?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="Images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Dylan Register</h3>
        <p class="quote__description">Aspiring Developer</p>
      </div>
    </div>
  </footer>
</blockquote>
